{% extends 'layouts/layout.html' %} <!--con extends entramos a miaap en concreto  y tengo que colocar que templates vamos a cargar-->

{% block title %} {{page.title}} {% endblock %}


{% block content %}
    <h1 class="title">{{page.title}}</h1>
    <span class="date">{{page.created_at}}</span> <!-- le pasamos page.creates_at la pasamos la views page y heradamos de la base de datos page.created_at -->
    <p class="content">
        {{page.content|safe}}<!--este filtro la que va hacer es  en page.content lo va intrepertar como html y no como texto plano-->
    </p>
    
{% endblock %}
